<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894267109510-kdon74jtksvt2anm6c9v8rnslt3p3l5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894267109510-kdon74jtksvt2anm6c9v8rnslt3p3l5f</string>
	<key>API_KEY</key>
	<string>AIzaSyAcrV63aoGA5Ib26LOcdMgdRegNTDg-mZU</string>
	<key>GCM_SENDER_ID</key>
	<string>894267109510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.devpartner.unilever</string>
	<key>PROJECT_ID</key>
	<string>unilevercicloo-1e0ea</string>
	<key>STORAGE_BUCKET</key>
	<string>unilevercicloo-1e0ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894267109510:ios:93f06d7f502fc6083ae107</string>
</dict>
</plist>