<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>br.com.devpartner.unilever</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Cicloo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb286894150089591</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.865458366023-95apsblv4n0o65117olq2d9n32dkn9lc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.611234605196-akt2hecrd2v49imo56u3ndk17ogsfo5f</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.611234605196-93sdteff9kfti3sfnot8addu7ka6rja5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.611234605196-7l9f4b0sr4fqq4kh8b9t0h45f69hejic</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>286894150089591</string>
	<key>FacebookClientToken</key>
	<string>569942e14e73cbb129287177593ce323</string>
	<key>FacebookDisplayName</key>
	<string>Cicloo App</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Este aplicativo utiliza a camera para escanear os cupons fiscais</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>O Cicloo requer sua permissão para rastrear o seu uso e mostrar anúncios mais relevantes para você</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>O Cicloo requer sua permissão para rastrear o seu uso e mostrar anúncios mais relevantes para você</string>
	<key>NSLocationUsageDescription</key>
	<string>O Cicloo requer sua permissão para rastrear o seu uso e mostrar anúncios mais relevantes para você</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>O Cicloo requer sua permissão para rastrear o seu uso e mostrar anúncios mais relevantes para você</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Este aplicativo precisa do seu microfone habilitar o escaner dos cupons fiscais</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>O Cicloo requer sua permissão para rastrear o seu uso e mostrar anúncios mais relevantes para você</string>
	<key>OneSignal_app_groups_key</key>
	<string>group.br.com.devpartner.unilever.onesignal</string>
	<key>UIAppFonts</key>
	<array>
		<string>Bold.otf</string>
		<string>BoldCn.otf</string>
		<string>BoldCnIt.otf</string>
		<string>Cn.otf</string>
		<string>CnIt.otf</string>
		<string>Demi.otf</string>
		<string>DemiCn.otf</string>
		<string>DemiCnIt.otf</string>
		<string>DemiIt.otf</string>
		<string>Heavy.otf</string>
		<string>HeavyCn.otf</string>
		<string>HeavyCnIt.otf</string>
		<string>HeavyIt.otf</string>
		<string>It.otf</string>
		<string>MediumCn.otf</string>
		<string>MediumCnIt.otf</string>
		<string>MediumIt.otf</string>
		<string>Regular.otf</string>
		<string>UltLt.otf</string>
		<string>UltLtCn.otf</string>
		<string>UltLtCnIt.otf</string>
		<string>UltLtIt.otf</string>
		<string>Cormorant-Bold.ttf</string>
		<string>Cormorant-Light.ttf</string>
		<string>Black.ttf</string>
		<string>Bold.ttf</string>
		<string>ExtraBold.ttf</string>
		<string>ExtraLight.ttf</string>
		<string>Light.ttf</string>
		<string>Regular.ttf</string>
		<string>SemiBold.ttf</string>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-ExtraBold.ttf</string>
		<string>Rubik-ExtraBoldItalic.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Rubik-SemiBoldItalic.ttf</string>
		<string>SpaceMono-Regular.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
